#footer {
    height: 400px;
    width: 100%;
    background-color: #3d7cc9;
    display: flex;
    justify-content: center;
    color: aliceblue;
  }
  #contact-info {
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #footer-links {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #footer a {
    text-decoration: none;
    color: aliceblue;
  }